.card{
    display: flex;
    flex-direction: column;
    border: solid 2px white;
    width: 400px;
    
}

.title{
    color: white;
    margin: 0;
    padding: 16px;

}

.info{
    display: flex;
    justify-content: center;
    color: white;
}
.month{
    align-self: flex-end;
}
.price{
    font-size: 30px;
    font-weight: 500;  
}

.speed{
    background-color: rgb(232, 230, 230);
    margin: 0;
    padding: 16px;
    color: rgb(53, 52, 52);
    font-size: 12px;
}

.footer{
    margin: 0;
    padding: 16px;
    background-color: rgb(206, 204, 204);
    color: rgb(53, 52, 52);
    font-size: 14px;
}

.selected{
    display: flex;
    flex-direction: column;
    border: solid 5px gray;
    width: 400px;
}